@charset "UTF-8";

 h1{
  
  background-color: rgba(255, 0, 0, 0.456);
  height: 300px;
  width: 300px;
  border: 10px solid darkslategray;
  padding: 10px;
  margin: 20px auto 40px auto;
  outline: 5px dashed #ff0055;
 }

 a {
  border: 10px solid #d87093;
  border-style: solid;
  border-color: #d87093;
  padding: 10px;
  margin: auto;
 }